.searchIcon {
  width: 10%;
  height: 50%;
  font-family: "WebSymbolsRegular";
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin-top: 17px;
}

.searchIcon:hover {
  cursor: pointer;
}

/*Responsive*/
@media (max-width: 660px) {
  .searchIcon {
    font-size: 18px;
    margin-top: 12px;
  }
}

@media (max-width: 380px) {
  .searchIcon {
    font-size: 15px;
    margin-top: 11px;
  }
}
